

.body{
    background-color: white;
    font-family: Arial;
}

.homepage{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.backlogo{
    margin: auto;
    display: block;
}


.page1{
    display: flex;
    flex-shrink: 0;
    padding: 20px;
    flex-direction: column;
    text-decoration: none;
    margin-left: 80px;
}

.p1{
    text-decoration: none;
    font-size: 40px;
    color: black;
    font-family: arial;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.officepic{
    /* width: 550px;
    height: 800px;
    margin: 50px;
    margin-left: 150px; */

    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}



.officetext{
    /* flex: 1;
    text-align: right;
    padding: 10px;
    margin-top: 700px;
    margin-right: 200px;
    margin-left: 40px;
    font-size: 25px;
    font-family: arial;
    font-weight: normal;
    text-align: left; */
    flex: 1;
    text-align: left; /* Ensure consistent alignment */
    padding: 10px;
    margin-top: 20px; /* Adjust the top margin as needed */
    margin-right: 20px;
    margin-left: 20px;
    font-size: 20px; /* Reduce font size for smaller screens */
    font-family: arial;
    font-weight: normal;
    
} 
.officename{
    margin-left: 150px;
    font-family: arial;
    font-weight: normal;
}
.bold{
    font-weight: bold;
}

.projecth1{
    margin-left: 150px;
    font-family: arial;
    font-weight: normal;
}

.contacttittle{
    margin-left: 150px;
    font-family: arial;
    font-weight: normal;
}
.contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    
    
}

.contact ul{
    padding: 0;
    list-style-type: none;
    

}

.contact ul li h2{
    font-family: arial;
    font-weight: normal;
}

.contact li{
    font-size: 20px;
}

.proyectitos{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.row{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}


.col{
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
    padding: 5px;
  
    
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 350px;

    
    
}

.card-body{
   
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

.card-title{
    font-family: arial;
    font-weight: normal;
    text-align: center;
}

.card-text{
    font-family: arial;
    font-weight: normal;
    font-size: 25px;
    text-align: center;
    margin: 10px 30px 10px;
}

.card-image1{
    width: 100%;
    height: 550px;
    object-fit: cover;
}
.card-image2{
    width: 100%;
    height: 550px;
    object-fit: cover;

}
.card-image3{
    width: 100%;
    height: 550px;
    object-fit: cover;

}
.card-image4{
    width: 100%;
    height: 550px;
    object-fit: cover;
}
.card-image5{
    width: 100%;
    height: 550px;
    object-fit: cover;
}
.card-image6{
    width: 100%;
    height: 550px;
    object-fit: cover;
}
.card-image7{
    width: 100%;
    height: 550px;
    object-fit: cover;
}

.projectCard{
    text-decoration: none;
    color: black;
}